.virtuosway-hr-dashboard-navbar{
    background-color: var(--whitesmoke);
}
.virtuosway-hr-dashboard-navbar-content{
    padding: 40px;
}
.virtuosway-hr-dasboard-navbar-title span{
    font-size: 2rem;
    font-weight: 500;
     font-family: 'Poppins', sans-serif;
}
.virtuosway-hr-dasboard-navbar-button{
    text-align: right;
    margin: auto;
}
.virtuosway-hr-dasboard-navbar-button button{
    background-color: var(--voilet);
    color:var(--whitesmoke);
    padding: 0px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    margin: auto;
    border: 1px solid white;
}
.virtuosway-hr-dasboard-navbar-button button:hover{
    outline: none;
    border: unset;
    color: white;
   
}
:where(.css-dev-only-do-not-override-1i9hnpv).ant-btn-compact-item:not(:where(.css-dev-only-do-not-override-1i9hnpv).ant-btn-compact-last-item) {
    margin-inline-end: 0px;
}