.applicants-header {
  gap: 30px;
}
.applicants-select {
  height: 40px;
}
.status-selects {
  width: 96%;
}
.application-table {
  border-collapse: separate;
  border-spacing: 0 24px;
}
.application-table-body {
  padding-left: 16px;
}
.application-table-body > ul {
  padding-left: 0;
}
/* .application-table-row:not(:last-child) {
  padding-bottom: 24px;
} */
.application-table-head {
  margin-right: 40px;
}
.link-button{
  text-decoration: none;
  text-transform: capitalize;
  color: #123C86;
  text-transform: uppercase;
}
.link-button:hover{
  color: #061F4D;
}