.job-summary-header__right {
  gap: 16px;
}
.job-summary-selects {
  height: 40px;
}
.search-field {
  height: 40px;
}
.add-jobs-bottom {
  flex-wrap: wrap;
}
.job-description-input {
  margin-bottom: 20px;
}
.job-description-text {
  border-radius: 6px !important;
  overflow: hidden;
}
.ql-toolbar {
  height: 48px;
  border-radius: 6px 6px 0 0;
}
.ql-editor {
  height: 200px;
}
.ql-container {
  border-radius: 0 0 6px 6px;
}

.closed-row {
  border-left: 5px solid red; /* Adjust the color and width as desired */
}

.open-row {
  border-left: 5px solid green; /* Adjust the color and width as desired */
}