.attendace-page {
  margin-top: 30px;
  padding-inline: 32px;
}
.attendance-filters {
  display: flex;
  align-items: center;
  gap: 20px;
}
.attendance-filters-container {
  margin-top: 45px;
}
.attendance-filters-bottom {
  margin-top: 20px;
  gap: 30px;
}
.attendance-filters-right {
  gap: 26px;
}
.attendance-stats {
  flex-wrap: unset;
  gap: 24px;
  margin-top: 24px !important;
}
.attendance-stat {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f2f5f9;
  border-radius: 8px;
  padding: 30px;
  width: fit-content;
}
.attendance-stat__status {
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc((100% - 20px) / 2);
}
.status-color {
  width: 10px;
  height: 10px;
  min-width: 10px;
  border-radius: 50%;
}
.attendance-stat__status > p {
  margin-bottom: 0;
}
.time-container {
  flex-direction: column;
  align-items: unset;
}
.time-contain {
  gap: 20px;
}
.timely-wrapper {
  min-width: fit-content;
}
.table-container {
  margin-top: 50px;
}
.working-condition {
  position: relative;
  width: 316px;
  padding: 0;
}
.calendar-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position as needed */
  transform: translateY(-50%);
}
.employee-stats-container {
  gap: 16px;
}
.employee-stats {
  padding: 8px 18px;
  min-width: none;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.search-field {
  padding: 8px 16px;
  gap: 9px;
  width: 287px;
  height: 48px;
  background: #ffffff;
  border: 1px solid rgba(2, 60, 135, 0.4);
  border-radius: 4px;
}
.single-employee {
  margin-top: 40px;
}
.absent-class {
  background-color: rgba(187, 33, 36, 0.05);
  border-bottom: 0.5px solid #bb2124 !important ;
  position: relative;
  /* color: transparent; */
}
.wfh-class {
  background-color: rgba(187, 33, 36, 0.05);
  border-bottom: 0.5px solid #be1eea !important ;
  position: relative;
  /* color: transparent; */
}
.absent-class > td {
  background-color: rgba(187, 33, 36, 0.05);
  border-bottom: 0.5px solid #bb2124 !important ;
}
.absent-class:hover {
  background-color: rgba(187, 33, 36, 0.05);
  border-bottom: 0.5px solid #bb2124 !important ;
}

.absent-class:hover > td {
  background: rgba(187, 33, 36, 0.05) !important;
  border-bottom: 0.5px solid #bb2124 !important ;
}
.holiday-class {
  background: rgba(151, 71, 255, 0.05) !important;
  border-bottom: 0.5px solid #9747ff !important;
}
.holiday-class > td {
  background: rgba(151, 71, 255, 0.05) !important;
  border-bottom: 0.5px solid #9747ff !important;
}
.holiday-class:hover {
  background: rgba(151, 71, 255, 0.05) !important;
  border-bottom: 0.5px solid #9747ff !important;
}
.holiday-class:hover > td {
  background: rgba(151, 71, 255, 0.05) !important;
  border-bottom: 0.5px solid #9747ff !important;
}
.holiday-class > .employee-stats {
  border-color: transparent !important;
}
.dowload-icon {
  height: 24px;
  height: 24px;
}
.download-btn {
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #023c87;
  border-radius: 4px;
  padding: 10px 16px;
}
.switch-container {
  width: 40px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switches {
  border: 1px solid #678ab7;
  border-radius: 4px;
  height: 40px;
}
.border {
  background: #ffffff;
  border: 1px solid #023c87 !important;
  border-radius: 4px;
  transition: all 2s ease-out;
}
.ant-picker-date-panel
  .ant-picker-cell:not(.ant-picker-cell-in-view)
  .ant-picker-cell-inner {
  display: none;
}

.ant-picker-date-panel .ant-picker-cell:not(.ant-picker-cell-in-view) {
  pointer-events: none;
}
.events {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 !important;
}
.total-working-hours {
  background: #f2f5f9;

  border: 1px solid #023c87;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
}
.total-working-hours > span {
  font-weight: 700;
  margin-left: 10px;
}
.month-header {
  /* display: none; */
  display: flex;
  justify-content: space-between;
}
.month-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.month-header-content + .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-actions > button {
  color: #000 !important;
}
.right-actions > button {
  color: #000 !important;
}
.rl-nepali-date-body {
  width: 100%;
}
.rl-nepali-date-content {
  width: 100%;
}

.rl-picker-cell-inner > .AD {
  display: none;
}
.other-month > .rl-picker-cell-inner {
  display: none;
}
.year-list-container {
  position: relative;
}
.year-list {
  display: none;
}
.year-list-active {
  display: list-item;
  position: absolute;
  top: 40px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
}
.year-list-active > li {
  font-size: 14px;
}
.year-list-active > li:not(:last-child) {
  margin-bottom: 12px;
}
.month-list-container {
  position: relative;
}
.month-list {
  display: none;
}
.month-list-active {
  display: list-item;
  position: absolute;
  top: 40px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
}
.month-list-active > li {
  font-size: 14px;
}
.month-list-active > li:not(:last-child) {
  margin-bottom: 12px;
}
.calendar-wrapper {
  position: relative;
}
.calendar-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position as needed */
  transform: translateY(-50%);
}
@media screen and (min-width: 1920px) {
  .attendance-stats {
    gap: 28px;
  }
  .attendance-stat {
    gap: 48px;
  }
  .attendance-stat__status {
    width: calc((100% - 48px) / 2);
  }
  .time-contain {
    gap: 48px;
  }
}
