.unit-input {
  display: flex;
}

.unit-container {
  width: 100%;
  gap: 16px;
}
.leave-unit-selects {
  min-width: 264px !important;
}
.start-end-container {
  gap: 22px;
}
.calendar-wrapper {
  position: relative;
  margin-block: 0;
}

.calendar-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position as needed */
  transform: translateY(-50%);
}

.calender-container-picker {
  height: 40px;
  min-width: 18rem !important;
}

.selects {
  height: 40px !important;
}
.selects > .ant-select-selector {
  height: 100% !important;

  border: 1px solid rgba(2, 60, 135, 0.4) !important;
  border-radius: 4px !important;
}
.selects > .ant-select-selector > .ant-select-selection-search > input {
  height: 100% !important;
}
.selects > .ant-select-selector > .ant-select-selection-item {
  display: flex;
  align-items: center;
}
.selects > .ant-select-selector > .ant-select-selection-placeholder {
  height: 100% !important;
  display: flex;
  align-items: center;
}
