:root {
  --voilet: #051a63;
  --lightBlue:#00b9f1;
  --whitesmoke:whitesmoke;
}
.dash-container__header{
  border-bottom:1px solid #D8D8D8;
  padding-top: 32px;
}
.title{
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}
/* 
*{
  padding: 0;
  margin: 0;
  box-shadow: box-shadow;
} */