:root {
  --voilet: #051a63;
  --lightBlue: #00b9f1;
  --whitesmoke: whitesmoke;
}
.dash-container__header {
  border-bottom: 1px solid #d8d8d8;
  padding-top: 32px;
}
.title {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}
body {
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent;     /* Optional: just make scrollbar invisible */
    /* background: var(--linear-gradient, linear-gradient(270deg, #00B9F1 0%, #023C87 100%)); */
  }
}
/* 
*{
  padding: 0;
  margin: 0;
  box-shadow: box-shadow;
} */
