* {
  list-style: none;
}
.applyjobsbody-container {
  width: 70%;
  height: max-content;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.job-header {
  width: 100%;
}
.essential {
  font-size: 20px;
  font-weight: 500;
}
.post p {
  font-size: 30px;
  font-weight: 400;
}
.about-post h3 {
  font-size: 20px;
  font-weight: 500;
}
.about-post p {
  font-size: 10px;
  font-weight: 300;
}
.line {
  border-top: 1px solid gray;
}
.info-box {
  padding: 20px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  background-color: rgb(241, 241, 241);
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
}
.info-box h3 {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  gap: 5px;
}
.info-box p {
  font-size: 15px;
  font-weight: 400;
}
.required-fields {
  gap: 10px;
  display: flex;
  width: 100%;
  height: max-content;
  background-color: rgb(255, 209, 209);
  padding: 10px;
  border: 1px solid black;
  border-radius: 0px 0px 5px 5px;
}
form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: max-content;

  box-shadow: none;
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.create-job-btn {
  margin-top: 10px;
  width: 100%;
  display: block;
  background-color: rgb(241, 241, 241);
  color: rgb(0, 0, 0);
  padding: 5px;
}
.description-box {
  width: 100%;
  background-color: rgb(241, 241, 241);
  padding: 40px;
  /* margin-bottom: 40px !important; */
}
.bottom-row {
  display: flex;
  gap: 10px;
}
.job-description h3 {
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .sidebox {
    display: none;
  }
  .job-header {
    display: none;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 15px;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 10px;
  }
}
