.holidays-table {
  margin-top: 32px;
}

.calendar-wrapper {
  position: relative;
  margin-block: 0;
  width: max-content;
}

.calendar-icon {
  position: absolute;
  top: 50%;
  right: 14px; /* Adjust the right position as needed */
  transform: translateY(-50%);
}

.holiday-filters {
  display: flex;
  align-items: center;
  gap: 20px;
}

.calender-container-picker {
  height: 40px;
  min-width: 18rem !important;
}