.workhours {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 10px;
}

.workhours p {
  height: 100%;
}

.viewMoreBtn {
  border: none;
  outline: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 238, 0.8);
  margin-top: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
