.navbar-dash {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-dash__left {
  display: flex;
  align-items: center;
  padding-top: 17px;
  gap: 44px;
}
.navbar-dash__left-back {
  display: flex;
  align-items: center;
  gap: 18px;
}
.navbar-dash__left-back > p {
  margin: 0;
}
.navbar-dash__left-search {
  background-color: #f2f5f9;
  border-radius: 10px;
  overflow: hidden;
  height: 47px;
  width: 433px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 10px 13px;
}
.navbar-dash__left-search > input {
  border: 0;
  outline: none;
  background-color: #f2f5f9;
}
.navbar-dash__left-search > input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.navbar-dash__right-search {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--primary-color-40, #9ab1cf);
  background: var(--white, #fff);
}
.navbar-dash__right-search > input {
  border: 0;
  outline: none;
  background-color: transparent;
}
.navbar-dash__right-search > input::placeholder {
  color: var(--placeholder-light-grey, #8e9295);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 120% */
}
.navbar-dash__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.custom-dropdown {
  display: none;
}
.custom-dropdown-active {
  display: block;
}

.navbar__notification {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  color: var(--bg-black);
  font-size: 1.25rem;
}

.navbar__notification-model {
  position: absolute;
  top: 10%;
  right: 5%;
}
.navbar__notification-model > .ant-modal-content {
  height: 483px;
  width: 520px;
}

.navbar__notification-model .ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__notification-model .navbar__notification-title {
  color: var(--text-color-100, #000);
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
