.navbar-dash {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-dash__left {
  display: flex;
  align-items: center;
  padding-top: 17px;
  gap: 44px;
}
.navbar-dash__left-back {
  display: flex;
  align-items: center;
  gap: 18px;
}
.navbar-dash__left-back > p {
  margin: 0;
}
.navbar-dash__left-search {
  background-color: #f2f5f9;
  border-radius: 10px;
  overflow: hidden;
  height: 47px;
  width: 433px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 10px 13px;
}
.navbar-dash__left-search > input {
  border: 0;
  outline: none;
  background-color: #f2f5f9;
}
.navbar-dash__left-search > input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.navbar-dash__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.custom-dropdown {
  display: none;
}
.custom-dropdown-active {
  display: block;
}

.navbar__notification {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  color: var(--bg-black);
  font-size: 1.5rem;
  padding: 1.25rem 0.85rem;
}

.navbar__notification-model {
  position: absolute;
  top: 1.5rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.navbar__notification-title {
  color: var(--text-color-100, #000);
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
